.ColorBar {
    @include flexLayout;
    margin-top: 50px;
    div {
        color: white;
        width: 25%;
        height: 250px;
        text-align: center;
        line-height: 200px;
        font-size: 50px;
        opacity: 80%;
        i {
            position: absolute;
            margin-left: -10px;
        }
        p {
            position: relative;
        }
    }
}